.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold !important;
  text-decoration: underline;
}

.bodyElement{
  width: 75vw;
  margin: auto;
}

.noColorMenu{
  border-bottom: 2px transparent!important;
}
.greenMenu{
  border-bottom: 2px solid #21ba45!important;
}
.tealMenu{
  border-bottom: 2px solid #00b5ad!important;
}
.blueMenu{
  border-bottom: 2px solid #2185d0!important;  
}

.form{
 & .modalButton{
    margin-top: auto!important;

    button{
      height: 38px!important;
    }
  }
}
.divider{
  margin: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

.smallPaddingLeft{
  padding-left: 5px;
}

.littlePaddingLeft{
  padding-left: 2px;
}

.mainMenu{
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
}

.currencyLabel{
  margin: 3px!important;
}

.mainItem{
  font-size: 1.3rem;
  padding: 1rem !important;
  img {
    margin-right: 1rem !important;
  }
}
