@import '../../common/common.module.scss';

.header{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;
}

.mainItem{
  font-size: 1.3rem;
  padding: 1rem !important;
  img {
    margin-right: 1rem !important;
  }
}

.active_navlink{
  font-weight: 700!important;
}
