@import '../../common/common.module.scss';

.new_trades_icon{
  position: absolute;
  left: 6px;
}

.overview_info_row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}