@import '../../common/common.module.scss';

.evaluation_graph{
  position: relative;
}

.strategy_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  h2,h3{
    margin: 0;
  }
}

.strategy_info_row{
  composes: strategy_heading;
}